@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #09090e;
    font-family: 'Montserrat';
}


.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bottomHalf {
    width: 100%;
    height: 88%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskListContainer {
    width: 60.3%;
    height: 100%;
    background-color: #0e0e15;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 55px 15px 15px 15px;
}

.tasklistHover {
    background-color: #444447;
}

.taskListInner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.stepListInner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleBlock {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.stepsContainer {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #000;
    background-color: #0e0e15;
    padding: 55px 15px 15px 15px;
}

.stepsList {
    height: 100%;
    width: 98%;
}

.listBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background: #474747;
  }

.taskBox {
    background-color: #000;
    border-radius: 10px;
    min-height: 50px;
    height: max-content;
    word-wrap: break-word;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    color: #eeeeee;
    overflow: hidden;
}

.taskText {
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 50px;
    padding-right: 10px;
    height: 100%;
    line-height: 50px;
  }

  .taskText:focus {
    outline: none
}

.taskInner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;
    transition: 0.6s;
}

.taskGrab {
    display: none;
    border: 2px solid #ffffff77;
    position: absolute;
    width: 14px;
    height: 18px;
}

.grab {
    display: flex;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12.5px;
    height: 25px;
    aspect-ratio: 1;
    background-color: #677282;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.checked {
    background-color: rgb(38, 53, 79);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checked:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(157, 179, 220);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.taskInput {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border-radius: 10px;
}

.taskInput input {
    background-color: #33333300;
    border: none;
    width: 97%;
    color: #eee;
    height: 100%;
    font-size: 0.9em;
}

input:focus {
    outline: none
}

.weekBarContainer {
    width: 100%;
    height: 12%;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.weekBar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weekBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.selected {
    background-color: #ffffff0e;
}

.bordered {
    border-right: 1px solid #ffffff15;
}

.weekBlockProgress {
    background: linear-gradient(90deg, #00000000 0%, #ffffff1a 100%);
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.weekText {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c8d0d5;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    z-index: 100;
}

.weekBlock span {
    color: #8c9095;
    font-size: 0.8em;
    font-weight: bold;
}

.weekDate {
    position: absolute;
    top: 6px;
    left: 10px;
}

.notePad {
    width: 100%;
    height: 100%;
    position: relative;
}

.notePad textarea {
    position: absolute;
    bottom: 0;
    width: 98%;
    background-color: #333;
    color: white;
    height: 35vh;
    border-radius: 15px;
}

.halfBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.floating {
    display: none;
}

.weekHover {
    background-color: #ffffff00;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hovered {
    background-color: #223;
}

.taskBtn {
    position: absolute;
    top: 0;
    height: 105%;
    width: 80px;
    font-weight: bolder;
    font-size: 0.75em;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.delete {
    background-color: #492929;
    color: #100303;
    right: -160px;
}

.edit {
    right: -80px;
    background-color: #1f3c23;
    color: #010903;
}

.removable {
    transform: translateX(-160px);
}

.routineContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-y: auto;
    align-items: center;
    padding: 0 30px 0 20px;
}

.routineHalf {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    overflow-y: auto;
}

.hide {
    display: none;
}

.routineInner {
    width: 70%;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15px);
}

.timeSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px
}

.newNodeBtn {
    background-color:#000;
    width: 170px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
    margin-top: 10px;

}

.newNodeBtn:hover {
    background-color: #555;
}

.routineHalf input {
    width: 170px;
    background-color:#000;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
}

.routineHalf select {
    width: 80px;
    background-color:#000;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-size: 0.8em;
}

.nodeList {
    display: flex;
    flex-direction: column;
}

.nodeContainer {
    height: 40px;
    width: 400px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nodeHalf {
    width: 250px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #000;
    text-align: center;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 2px solid #ffffff0e;
}

.nodeDelete {
    width: 40px;
    height: 40px;
    color: #aa666666;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #000;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.highlighted {
    background-color: #202020;
}

@keyframes pulse {
    0% {color: #888}
    10% {color: black;}
    20% {color: #888}
    30% {color: black;}
    40% {color: #888}
    50% {color: black;}
    60% {color: #888}
    70% {color: black;}
    80% {color: #888}
    90% {color: black;}
    100% {color: #888}
}

.routineText {
    color: #888;
    font-size: 0.8em;
    font-weight: bold;
}

.pulseText {
    animation-duration: 5s;
    animation-name: pulse;
}

@media only screen and (max-width: 600px) {

    .weekBlockProgress {
        height: 5px;
        background: linear-gradient(90deg, #00000000 0%, #ffffff55 100%);

    }

    .weekText {
        font-size: 65%;
    }

    .bottomHalf {
        flex-direction: column-reverse;
    }

    .taskListContainer{
        width: 100%;
        height: 45%;
    }
    
    .stepsContainer  {
        width: 100%;
        height: 55%;
        border-bottom: 3px solid black;
    }

    .taskBox {
        min-height: 30px;
        font-size: 0.7rem;
        line-height: 30px;
    }

    .taskText {
        line-height: 30px;
    }

    .checkmark {
        height: 15px;
    }

    .checkmark:after {
        left: 5px;
        top: 2px;
        width: 3px;
        height: 6px;
    }

    .taskInput {
        border: 1px solid #ffffff33;
    }

    .titleBlock {
        font-size: 1rem;
    }
}

